.calculator {
  display: grid;
  justify-content: center;
  margin-top: 60px;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: minmax(50px, auto) repeat(5, 60px);
  cursor: pointer;
}

.calculator > button {
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
  border: 1px solid white;
  outline: none;
  background-color:rgb(27, 167, 167) ;
}

.calculator > button:hover {
  background-color:hsl(180, 72%, 46%) ;
}

.calculator > button:focus {
  background-color:hsl(180, 72%, 54%) ;
}

.span--two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgb(0, 0, 0, .70);
  font-weight: 400;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 8px;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-operand {
color: #aaa;
font-size: 18px;
}

.current-operand {
color: white;
font-size: 28px;
}